body {
    font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
    font-size: 14px;
    line-height: 1.42857143;
    color: #333;
    background-color: #fff;
    padding: 0px !important;
    margin: 0px !important;
    font-size: 16px;
    -webkit-font-smoothing: antialiased;
}

.o-borderBox {
    box-shadow: 1px 0 0 0 #e3e3e3, 0 1px 0 0 #e3e3e3, 1px 1px 0 0 #e3e3e3, inset 1px 0 0 0 #e3e3e3, inset 0 1px 0 0 #e3e3e3;
}
.o-borderBox .feature-box {
    padding: 15px;
}

.o-borderBox .feature-downlink {
    padding: 15px;
    text-align: center;
}

.o-borderBox .margint {
    margin-right: 20px;
}

.help_title {
    font-size: 16px;
    margin: 20px 0;
    background: #EEE;
    border-radius: 4px;
}

.icon-helpicon {
    float: left;
    margin-right: 10px;
}

.icon-helpicon .fa {
    font-size: 48px;
}
.main-header {
    position: relative;
    text-align: center;
    line-height: 0;
    height: 250px;
    width: 100%;
    background: linear-gradient(45deg, #0B4182 1%, #1e88e5 64%, #40BAF5 97%);
    
}
.main-header .main-header-box {
    position: relative;
    width: 100%;
    padding-top: 30px;
}
.text-hides{color: #fff;font-weight: 600;text-transform: capitalize;font-size: 33px;line-height: 150px;}

/* ===================
 * 全局底部版权信息等
 * =================== */

.footer {
    color: #FAFAFA;
    background-color: #475268;
    width: 100%;
    padding: 40px 0;
    
    margin-bottom: -15px;
}
.footer h1 {
    font-size: 20px;
    text-transform: uppercase;
    font-weight: 400;
    margin-top: 0;
    margin-bottom: 20px;
    font-family: 'Fjalla One', sans-serif;
}
.footer address a {
    color: #fff;
}
.footer address a:hover {
    color: #f37c6b;
}
.footer-container {
    width: 1000px;
    margin: 0 auto;
    overflow: hidden;
}
.footer-container .left-side {
    float: left;
}
.footer-container .site-name {
    margin-bottom: 15px;
}
.footer-container .site-name a {
    vertical-align: top;
    margin-right: 10px;
}
.footer-container .nav-about {
    font-size: 0;
    *word-spacing: -1px
    /*IE6、7*/
    
    ;
    margin-bottom: 8px;
}
.footer-container .nav-about a,
.footer-container .nav-about i {
    font-size: 12px;
    color: #FFF;
    vertical-align: middle;
    letter-spacing: normal;
    display: inline-block;
    *display: inline
    /*IE7*/
    
    ;
    *zoom: 1
    /*IE7*/
    
    ;
}
.footer-container .nav-about i {
    background-color: #FFF;
    width: 1px;
    height: 10px;
    margin-left: 10px;
    margin-right: 10px;
}
.footer-container .site-intro {
    margin-bottom: 8px;
}
.footer-container .right-side {
    font-size: 0;
    *word-spacing: -1px
    /*IE6、7*/
    
    ;
    float: right;
}
.footer-container .right-side dl,
.footer-container .right-side .QRcode {
    font-size: 12px;
    color: #FFF;
    vertical-align: top;
    letter-spacing: normal;
    display: inline-block;
    *display: inline
    /*IE7*/
    
    ;
    *zoom: 1
    /*IE7*/
    
    ;
}
.footer-container .right-side dl dt {
    font-size: 18px;
    font-weight: 600;
    margin-bottom: 10px;
}
.footer-container .right-side dl dd {
    font-size: 18px;
    margin-bottom: 20px;
}
.footer-container .right-side dl dd.worktime {
    font-size: 12px;
}
.footer-container .right-side .QRcode {
    width: 120px;
    height: 160px;
    margin-left: 20px;
}
.footer-container .right-side .QRcode img {
    max-height: 120px;
    max-width: 120px;
}

section.keeping-it-personal {
    width: 100%;
    background-color: #4D5D8C;
}

section.keeping-it-personal h2 {
    font-size: 25px;
    line-height: 25px;
    color: #fff;
    text-align: center;
    display: block;
    width: 100%;
    margin: 0 auto 15px auto;
}

section.keeping-it-personal h3 {
    font-size: 16px;
    font-weight: inherit;
    line-height: 20px;
    color: #fff;
    text-align: center;
    display: block;
    width: 100%;
    margin: 0 auto;
}

.product-container,
.function-container,
.article-container {
    width: 100%;
    padding: 40px 0;
}
/*产品相关内容*/
.product-content {text-align: center;}
.product-content .fa {font-size: 120px;color: #fff;}
.product-content .help-rowtitle {font-size: 20px;color: #fff;padding-top: 30px;}
.product-container h3{margin-bottom: 80px !important;}
.product-content ul {
    font-size: 0;
    *word-spacing: -1px
    /*IE6、7*/
    
    ;
}

.product-content .pic {
    background-repeat: no-repeat;
    background-position: 0 0;
    width: 100%;
    height: 100%;
    margin: 40px auto 30px auto;
    text-align: center;
}

section.keeping-it-personal .product-content .pic img {
    max-width: 180px;
}
.product-content dl {
    text-align: center;
    margin: 0 auto;
}

.product-content dt {
    font-size: 24px;
    line-height: 30px;
    color: #fff;
    height: 30px;
    margin-bottom: 10px;
}

.product-content dd {}

.product-content dd p {
    font-size: 14px;
    line-height: 20px;
    color: #fff;
    text-align: left;
}

.product-content dd a {
    font-size: 14px;
    line-height: 20px;
    font-weight: 600;
    color: #343F48;
    text-decoration: none;
    display: inline-block;
    margin: 10px auto 0 auto;
}

.product-content dd a i {
    margin-left: 6px;
    font-size: 16px;
}

.notices {
    height: 32px;
    overflow: hidden;
    padding: 0;
    background: rgba(255, 255, 255, 0.1);
    line-height: 32px;
    font-size: 12px;
    margin-top: -32px;
    position: relative;
    z-index: 1;
}

.notices li {
    float: left;
    width: 31%;
}

.notices li a {
    color: #fff;
    width: 90%;
    overflow: hidden;
    text-overflow: ellipsis;
    -o-text-overflow: ellipsis;
    white-space: nowrap;
    display: inline-block;
}

.notices .more {
    width: 7%;
}

.notices i {
    font-size: 14px;
    margin-right: 5px;
    margin-top: 9px;
    display: block;
    float: left;
}
.help_title {
    font-size: 16px;
    margin: 20px 0;
    background: #EEE;
    border-radius: 4px;
}
.help_title span {
    display: inline-block;
    padding: 0px 20px;
    line-height: 40px;
    background: #1291ea;
    border-radius: 4px 0 0 4px;
    color: #FFF;
}
.help_content img {
    max-width: 60%;
}
.help_client{
    background-color: #eee;
    border-radius: 2px;
    color: #8590a6;
    font-size: 13px;
    padding: 15px;
    border-left: 2px solid #1291ea;
}

html,body {
  height: 100%;
}
button {
  height: 40px; width: 100%;
  font-size: x-large;
  margin-top: 13px;
}
.wrap {
  min-height: 100%;
}
.main {
  padding-bottom:90px;
}
.uatip {
  background: rgba(0,0,0,0.8);
  text-align: center; position: fixed;
  left:0;
  top: 0;
  width: 100%;
  height: 100%;
  z-index: 998;
  display: none;
}
.uatip-icon {
  width: 52px;
  height: 67px;
  background: url(../images/ua-tip.png) no-repeat;
  display: block;
  position: absolute;
  right: 20px;
  top: 20px;
}
.uatip-txt {
  margin-top:
    107px;
  color: #fff;
  font-size: 16px;
  line-height: 1.5;
}
.polaroid {
  margin: auto;
  width: 119px;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
  margin-bottom: 20px;
  border-radius: 50%;
}
.logo {
  -webkit-transition: 0.4s;
  -webkit-transition:-webkit-transform 0.4s ease-out;
  transition: transform 0.4s ease-out;
  -moz-transition: -moz-transform 0.4s ease-out;
}
.logo:hover {
  transform: rotateZ(360deg);
  -webkit-transform: rotateZ(360deg);
  -moz-transform: rotateZ(360deg);
}

.btn-circle {
  border-radius: 50px;
  box-shadow: 2px 2px 8px 0 rgba(0, 0, 0, 0.2);
}
.id {
  width: 300px;
  margin:0 auto;
}
.id p {font-size: 14px;}